extends layout

block subcontenido

	a(href='/admin/users/create-users')
					button#create-user(type='submit') Create User
block contenido
	.admin-container
		h1 Users List
		div.admin
			table.table.table-bordered.table-stripped
				thead

					tr
						th Username
						th Email
						th Rol
						th Delete User
						th Update User

				tbody
					if (lista.length !==0)
						each usuario in lista
								tr 						
								td #{usuario.username}
								td #{usuario.email}
								td #{usuario.rol}
								td
									form(action='/admin/users/delete/#{usuario.email}',method='post')
										button#delete-user(type='submit') Delete
								td 
									a(href='/admin/users/edit/#{usuario.email}')
										button#edit-user(type='submit') Edit
									